# This is a basic workflow to help you get started with Actions

name: Tests

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [7.3, 7.4]
        laravel: ['6.*', '7.*']

    name: 'PHP ${{ matrix.php }} / laravel ${{ matrix.laravel }}'

    steps:
      - uses: actions/checkout@master

      # Configure PHP
      - name: Select PHP version
        uses: shivammathur/setup-php@master
        with:
          php-version: '${{ matrix.php }}'
          extensions: mbstring, pdo_sqlite, fileinfo, gd, xdebug
          coverage: xdebug

      # Install PHP dependencies
      - name: Install Composer dependencies
        run: composer require "illuminate/support:${{ matrix.laravel }}"

      # Display installed laravel version
      - name: Install Composer
        run: composer install
      - name: Show laravel version
        run: composer show laravel/framework

      # Run phpunit tests
      - name: Run tests in Laravel
        run: ./vendor/bin/phpunit --coverage-clover build/logs/clover.xml
       
      - name: Install PHP Coveralls library
        env:
          PHP_VERSION: ${{ matrix.php }}
        run: composer global require --dev php-coveralls/php-coveralls

      - name: Upload coverage results to Coveralls
        env:
          PHP_VERSION: ${{ matrix.php }}
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_PARALLEL: true
          COVERALLS_FLAG_NAME: php-${{ matrix.php }}
        run: php-coveralls -v

  coveralls-finish:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
